h1{
    color: silver
}

.navbar {
    margin-bottom: 1rem;
  }
  
  .nav-link {
    font-weight: bold;
  }
  
  .nav-link.active {
    color: #f0ad4e !important; /* Highlight-Farbe */
  }

  button,
.btn {
  display: inline-block;
  padding: 0.6rem 1rem;
  background: #e74c3c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover,
.btn:hover {
  background: #c0392b;
}

  